@charset "UTF-8";

.nav_block {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.main_title {
	text-align: center;
	margin-bottom: 2rem;
}

.main_title h1 {
	font-size: 2.8rem;
}

.main_content {
	width: 100%;
}

.main_content_list {
	display: flex;
	margin: 2rem;
	justify-content: center;
}

.main_content_list li {
	width: 100%;
	text-align: center;
	border: 1px solid black;
	font-size: 1.7rem;
	padding: 1rem;
	cursor: pointer;
}

.main_content_list li:first-child {
	border-radius: 1rem 0 0 1rem;
}

.main_content_list li:last-child {
	border-radius: 0 1rem 1rem 0;
}

.job_wrapper {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: repeat(4, 1fr);
	margin: 2rem;
}

.job_wrapper>div {
	border: 1px solid black;
}

.main_content_list li:hover {
	background-color: lightblue;
}

.floating-menu {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main_content_list li.clicked {
	background: linear-gradient(145deg, rgba(86, 174, 214, 1) 15%,
		rgba(0, 144, 208, 1) 100%);
	color: white;
}
