@charset "UTF-8";

.nav_block {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.main_title {
	text-align: center;
	margin-bottom: 2rem;
}

.main_title h1 {
	font-size: 2.8rem;
}

.main_content {
	width: 100%;
}

/* 메뉴바 관련 */
.main_content_list {
	display: flex;
	margin: 2rem;
	justify-content: center;
}

.main_content_list li {
	width: 100%;
	text-align: center;
	border: 1px solid black;
	font-size: 1.7rem;
	padding: 1rem;
	cursor: pointer;
}

.main_content_list li:first-child {
	border-radius: 1rem 0 0 1rem;
}

.main_content_list li:last-child {
	border-radius: 0 1rem 1rem 0;
}

.main_content_list li:hover {
	background-color: lightblue;
}

/* .main_content_list li.clicked {
	background: linear-gradient(145deg, rgba(86, 174, 214, 1) 15%,
		rgba(0, 144, 208, 1) 100%);
	color: white;
} */

.main_content_list_float {
	position: fixed;
	margin: 2rem;
	right: 3%;
	bottom: 3%;
}

.main_content_list_float li {
	width: 100%;
	text-align: center;
	border: 1px solid black;
	font-size: 1.7rem;
	padding: 1rem;
	cursor: pointer;
}

.main_content_list_float li:hover {
	background-color: lightblue;
}

/* .main_content_list_float li.clicked {
	background: linear-gradient(145deg, rgba(86, 174, 214, 1) 15%,
		rgba(0, 144, 208, 1) 100%);
	color: white;
} */


/* 메뉴바 관련 */
.job_wrapper {
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: repeat(4, 1fr);
	margin: 2rem;
}

.job_wrapper>div {
	border: 1px solid black;
}